<div class="admin">
    {{#link-to 'back.login'}}Login as Administrator{{/link-to}}
</div>

<div class="sidebar-menu">
    <span>Your Current Order:</span>
    <ul class="front-order">
        {{#each item.orderedFood as |item|}}
        <li>{{item.menuItem}} - {{item.price}}</li>
        {{/each}}
    </ul>
      {{#if item.orderedFood.length}}
    {{#unless loading}}
      {{md-btn text='Order Up!'
        action='markFood'
        class='o-button'}}
    {{else}}
      {{md-loader}}
    {{/unless}}
  {{/if}}
</div>
